<h1>Stupid coaching</h1>

<div class="border-start">
  <p style="border-left-style: solid;border-left-width: 8px;padding-left: 25px;border-left-color: lightgrey;">
    <%= params[:question] %><br>
    <em>– You</em>
  </p>
</div>

<div class="border-start">
  <p style="border-left-style: solid;border-left-width: 8px;padding-left: 25px;border-left-color: lightgrey; background-color: lightyellow">
    <%= @answer %><br>
    <em> – Your Coach </em>
  </p>
</div>

<a href="/ask">Ask a new question</a>
