<h1>Stupid coaching</h1>

<p>Ask your coach anything:</p>

<%# <div class="input-group">
  <form action="/answer" data-turbo="false" class="d-flex col-lg-6 input-group-append" aria-describedby="basic-addon2">
    <input type="text" name="question" class="w-100 form-control">
    <input type="submit" value="Ask!" class=".btn btn-primary input-group-append">
  </form>
</div> %>


<div class="input-group mb-3">
  <form action="/answer" data-turbo="false" class="d-flex col-lg-6">
    <input type="text" name="question" class="w-100 form-control" placeholder="Ask a question..." aria-label="Question" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <input type="submit" class="btn btn-primary" type="submit" value="Ask!">
  </div>
</div>
